html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%
}

body {
	margin: 0
}

h1 {
	font-size: 2em;
	margin: .67em 0
}

a {
	background-color: initial
}

img {
	border-style: none
}

[type=button],
[type=reset],
[type=submit] {
	-webkit-appearance: button
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
	border-style: none;
	padding: 0
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
	outline: 1px dotted ButtonText
}

[type=checkbox],
[type=radio] {
	box-sizing: border-box;
	padding: 0
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
	height: auto
}

[type=search] {
	-webkit-appearance: textfield;
	outline-offset: -2px
}

[type=search]::-webkit-search-decoration {
	-webkit-appearance: none
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit
}

[hidden] {
	display: none
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-bottom: 30px
}

.container {
	max-width: 1440px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0 auto
}

.row {
	display: flex;
	flex-wrap: wrap;
	flex: initial;
	flex-direction: row;
	box-sizing: border-box;
	margin-left: -10px;
	margin-right: -10px
}

.col {
	padding-left: 10px;
	padding-right: 10px
}

[class^=col-] {
	flex: auto
}

.col-0 {
	width: 0%
}

.col-1 {
	width: 8.33333333%
}

.col-2 {
	width: 16.66666667%
}

.col-3 {
	width: 25%
}

.col-4 {
	width: 33.33333333%
}

.col-5 {
	width: 41.66666667%
}

.col-6 {
	width: 50%
}

.col-7 {
	width: 58.33333333%
}

.col-8 {
	width: 66.66666667%
}

.col-9 {
	width: 75%
}

.col-10 {
	width: 83.33333333%
}

.col-11 {
	width: 91.66666667%
}

.col-12 {
	width: 100%
}

@media (max-width:768px) {
	.col-t-0 {
		width: 0%
	}

	.col-t-1 {
		width: 8.33333333%
	}

	.col-t-2 {
		width: 16.66666667%
	}

	.col-t-3 {
		width: 25%
	}

	.col-t-4 {
		width: 33.33333333%
	}

	.col-t-5 {
		width: 41.66666667%
	}

	.col-t-6 {
		width: 50%
	}

	.col-t-7 {
		width: 58.33333333%
	}

	.col-t-8 {
		width: 66.66666667%
	}

	.col-t-9 {
		width: 75%
	}

	.col-t-10 {
		width: 83.33333333%
	}

	.col-t-11 {
		width: 91.66666667%
	}

	.col-t-12 {
		width: 100%
	}
}

@media (max-width:768px) {
	.col-t-0 {
		width: 0%
	}

	.col-t-1 {
		width: 8.33333333%
	}

	.col-t-2 {
		width: 16.66666667%
	}

	.col-t-3 {
		width: 25%
	}

	.col-t-4 {
		width: 33.33333333%
	}

	.col-t-5 {
		width: 41.66666667%
	}

	.col-t-6 {
		width: 50%
	}

	.col-t-7 {
		width: 58.33333333%
	}

	.col-t-8 {
		width: 66.66666667%
	}

	.col-t-9 {
		width: 75%
	}

	.col-t-10 {
		width: 83.33333333%
	}

	.col-t-11 {
		width: 91.66666667%
	}

	.col-t-12 {
		width: 100%
	}
}

@media (max-width:768px) {
	.col-t-0 {
		width: 0%
	}

	.col-t-1 {
		width: 8.33333333%
	}

	.col-t-2 {
		width: 16.66666667%
	}

	.col-t-3 {
		width: 25%
	}

	.col-t-4 {
		width: 33.33333333%
	}

	.col-t-5 {
		width: 41.66666667%
	}

	.col-t-6 {
		width: 50%
	}

	.col-t-7 {
		width: 58.33333333%
	}

	.col-t-8 {
		width: 66.66666667%
	}

	.col-t-9 {
		width: 75%
	}

	.col-t-10 {
		width: 83.33333333%
	}

	.col-t-11 {
		width: 91.66666667%
	}

	.col-t-12 {
		width: 100%
	}
}

img[data-action=zoom] {
	cursor: pointer;
	cursor: -webkit-zoom-in;
	cursor: -moz-zoom-in
}

@supports (-webkit-backdrop-filter:none) or (backdrop-filter:none) {
	.zoom-overlay {
		-webkit-backdrop-filter: saturate(180%) blur(10px);
		backdrop-filter: saturate(180%) blur(10px);
		background: rgba(255, 255, 255, .8)
	}
}

.animate {
	animation: animateElement cubic-bezier(.3, .45, .45, .95) .75s;
	animation-duration: .85s;
	animation-iteration-count: 1;
	transition: transform .2s
}

@keyframes animateElement {
	0% {
		opacity: 0;
		transform: translate(0, 50px)
	}

	100% {
		opacity: 1;
		transform: translate(0, 0)
	}
}

*,
::after,
::before {
	box-sizing: border-box
}

body {
	font-family: darker grotesque, sans-serif;
	font-size: 22px;
	font-weight: 500;
	line-height: 1.4;
	color: #12111b;
	background-color: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden
}

body.is-in::after {
	visibility: hidden;
	opacity: 0;
	pointer-events: none
}

body::after {
	content: "";
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	z-index: 15;
	transition: 1s
}

@media only screen and (max-width:576px) {
	body {
		font-size: 18px
	}
}

::placeholder {
	color: #6b6a79
}

::selection {
	color: #fff;
	background-color: #02c4ec
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: darker grotesque, sans-serif;
	font-weight: 700;
	line-height: 1.4em;
	color: #12111b
}

h1 {
	font-size: 36px
}

h2 {
	font-size: 28px
}

h3 {
	font-size: 24px
}

h4 {
	font-size: 20px
}

h5 {
	font-size: 18px
}

h6 {
	font-size: 16px
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle
}

a {
	text-decoration: none;
	color: #12111b;
	transition: all .3s
}

a:hover {
	color: #02c4ec
}

.hero {
	margin-bottom: 50px
}

.hero .row {
	align-items: center
}

@media only screen and (max-width:768px) {
	.hero {
		margin-bottom: 20px
	}
}

.author .author__avatar {
	display: block;
	width: 120px;
	height: 120px;
	margin-bottom: 10px;
	border-radius: 50%;
	overflow: hidden
}

.author .author__name {
	margin-bottom: 5px;
	font-size: 31px;
	line-height: 1;
	font-weight: 800
}

.author .author__job {
	font-size: 63px;
	line-height: 58px;
	font-weight: 800
}

@media only screen and (max-width:992px) {
	.author .author__name {
		font-size: 24px
	}

	.author .author__job {
		margin-bottom: 20px;
		font-size: 38px;
		line-height: 33px
	}
}

@media only screen and (max-width:768px) {
	.author {
		margin: 20px 0
	}
}

.top {
	position: fixed;
	bottom: 25px;
	right: -100px;
	z-index: 5;
	width: 35px;
	height: 35px;
	font-size: 16px;
	line-height: 35px;
	text-align: center;
	border-radius: 50%;
	box-shadow: 0 1px 4px rgba(0, 0, 0, .15);
	color: #12111b;
	background-color: #fff;
	cursor: pointer;
	transition: all .25s ease
}

.top:hover {
	color: #02c4ec
}

@media only screen and (max-width:768px) {
	.top {
		bottom: 15px
	}
}

@supports (-webkit-backdrop-filter:none) or (backdrop-filter:none) {
	.menu-overlay {
		-webkit-backdrop-filter: saturate(180%) blur(10px);
		backdrop-filter: saturate(180%) blur(10px);
		background-color: rgba(255, 255, 255, .9)
	}
}

@supports (-webkit-backdrop-filter:none) or (backdrop-filter:none) {
	.search {
		-webkit-backdrop-filter: saturate(180%) blur(10px);
		backdrop-filter: saturate(180%) blur(10px);
		background-color: rgba(255, 255, 255, .9)
	}
}

.footer {
	position: relative;
	padding: 30px 0;
	border-top: 1px solid #eee;
	background-color: #f8f8f8
}

.copyright {
	font-size: 16px;
	font-weight: 600;
	text-align: center;
	color: #6b6a79
}

.article {
	align-items: stretch;
	flex-grow: 1;
	margin-bottom: 20px
}

.article:hover {
	transform: translateY(-2px)
}

.article:hover .article__image img {
	filter: saturate(1.7)
}

@media only screen and (max-width:576px) {
	.article {
		min-height: 280px
	}
}

.article__inner {
	position: relative;
	display: flex;
	width: 100%;
	height: 100%;
	padding-top: 45%;
	border-radius: 8px;
	transform: translate(0);
	overflow: hidden
}

.article__title {
	margin: 10px 0 15px;
	max-width: 500px;
	font-size: 35px;
	line-height: 37px;
	font-weight: 800
}

.article__title a {
	color: #fff
}

.article__title a:hover {
	box-shadow: 0 -1px #02c4ec inset, 0 -3px #02c4ec inset
}

@media only screen and (max-width:992px) {
	.article__title {
		font-size: 31px;
		line-height: 33px
	}
}

@media only screen and (max-width:576px) {
	.article__title {
		margin: 5px 0 10px;
		font-size: 24px;
		line-height: 26px
	}
}

.article__image {
	position: absolute;
	top: 0;
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 8px;
	user-select: none;
	background-color: #f8f8f8
}

.article__image::after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 8px;
	background: linear-gradient(transparent, rgba(53, 53, 53, .7));
	pointer-events: none
}

.article__image img {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	pointer-events: none;
	transition: filter .3s ease
}

.article__content {
	z-index: 1;
	width: 100%;
	margin-top: auto;
	padding: 0 30px 30px
}

@media only screen and (max-width:576px) {
	.article__content {
		padding: 0 20px 20px
	}
}

.article__meta {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: flex-start;
	color: #fff
}

.article__author {
	display: flex;
	align-items: center
}

.article__author-link {
	position: relative;
	padding-right: 8px;
	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;
	font-weight: 700;
	color: #fff
}

.article__author-link:hover {
	color: #fff
}

.article__author-link:hover::before {
	width: 115%
}

.article__author-link::before {
	content: "";
	position: absolute;
	left: -15%;
	z-index: -1;
	display: block;
	height: 100%;
	width: 0;
	border-radius: 0 15px 15px 0;
	background-color: #02c4ec;
	transition: all .25s ease
}

.post {
	position: relative;
	margin-bottom: 30px
}

.post-image {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	user-select: none
}

.post-head {
	margin: 40px 0
}

@media only screen and (max-width:576px) {
	.post-head {
		margin: 25px 0
	}
}

.post-title {
	margin: 10px 0 15px;
	font-size: 63px;
	line-height: 65px;
	font-weight: 800;
	text-align: center
}

@media only screen and (max-width:768px) {
	.post-title {
		font-size: 48px;
		line-height: 50px
	}
}

@media only screen and (max-width:576px) {
	.post-title {
		font-size: 33px;
		line-height: 35px
	}
}

.post__meta {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
	color: #12111b
}

.post__author {
	display: flex;
	align-items: center;
	justify-content: center
}

.post__author-image {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 5px;
	border-radius: 50%;
	background-size: cover;
	background-position: 50%;
	background-repeat: no-repeat;
	background-color: #f8f8f8
}

.post__author-link {
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 700;
	color: #12111b
}

.post__author-link:hover {
	color: #12111b
}

.post__content a {
	border-bottom: 2px solid #02c4ec
}